.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-danger {
  color: var(--color-danger);
}

.color-bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.hoverable {
  transition: all ease 0.5s;
}

button.hoverable:hover {
  background-color: rgb(240, 206, 14);
  color: black;
}

.card.hoverable:hover {
  transform: scale(1.025);
  border-color: gold;
}


.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.border {
  border: 2px solid var(--color-border);
  border-radius: 2%;
}

input.border {
  border: 0;
  border-bottom: 1px solid black;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
