:root {
  --color-primary: rgb(66, 78, 240);
  --color-secondary: #85bbee;
  --color-danger: rgb(131, 32, 32);
  --color-border: rgb(206, 206, 206);
  --max-width: 1250px;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-danger {
  color: var(--color-danger);
}

.color-bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.header__button {
  margin: 0 10px;
}

.border {
  border: 2px solid var(--color-border);
  border-radius: 2%;
}
