.article {
  grid-area: "article";
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.article__section {
  text-align: justify;
  margin-bottom: 10px;
}

.article__title {
  padding-bottom: 40px;
}

.article__nav {
  padding: 20px 0;
  height: 50px;
  text-align: center;
}

@media (min-width: 1024) {
  .article {
    grid-area: "article";
  }
}
