.aside {
  grid-area: aside;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.aside section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px 0px 20px 0px;
}

.aside__section * {
  margin: 0 5px;
}

.aside__nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}

@media (min-width: 1024px) {
  .aside {
    margin: 40px 10px;
    width: 300px;
    flex-direction: column;
    justify-content: start;
  }
}
