.main-list {
  margin: 20px auto;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-list {
    padding: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1250px) {
  .main-list {
    margin: 0 auto;
    width: var(--max-width);
  }
}
