.main-list {
  margin: 20px auto;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-list {
    padding: 20px 0;
    width: 90%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 450px 450px;
    justify-items: center;
  }
}

@media (min-width: 1250px) {
  .main-list {
    margin: 0 auto;
    width: var(--max-width);
  }
}
